:root{
  --outline: #392913;
  --bodycolor:#AA9A88;
  --facehighlight: #E1D2C4;
  --shadow: #7A6F63;
  --white: #FFFFFF;
  --water: #9ADED6;
}

html {
  font-size: 78%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body{
  height: 100vh;
  background: var(--water);
  display: grid;
  place-items: center;
  font-family: 'Josefin sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.header-box {
  width: 70%;
  max-width: 20rem;
}

.header {
  width: 20rem;
  height: 16.5rem;
  max-height: 19rem;
}

.header-icon h1 {
  font-family: 'Fredoka one', sans-serif;
  color: var(--shadow);
  height: 90%;
  max-height: 13.2rem;
  background-color: var(--water);
}

.links-container {
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 70%;
  max-width: 20.5rem;
}

.links-container li {
  display: inline-block;
  margin-bottom: 1.5rem;
  border: .2rem solid var(--outline);
  width: 100%;
  padding: 1.2rem 0 1.2rem 0;
  background-color: var(--white);
  position: relative;
  transition: all .2s;
  color: var(--white);
}

.links-container li::after {
  content: '';
  border: .2rem solid var(--outline);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  opacity: 0;
  transition: all .4s;
}

.links-container li:hover::after {
  transform: scaleX(1.1) scaleY(1.35);
  opacity: 1;
}

.links-container li:active::after {
  transform: scaleX(1.07) scaleY(1.25);
}

.links-container li:active {
  /* box-shadow: inset -.2rem .2rem 0 rgba(233, 72, 138, 1); */
  background-color: var(--water);
}


@keyframes slide-in-left {
  0% {
    opacity: 0;
    margin-left: -20rem;
  }
  75% {
    margin-left: 1.5rem;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    margin-right: -20rem;
  }

  75% {
    margin-right: 5rem;
  }

  100% {
    opacity: 1;
    margin-right: 0;
  }
}

.links-container li:last-of-type {
  margin-bottom: 0;
}

.links-container li.right a {
  transform: skew(20deg);
  display: block;
}

.links-container li.right {
  transform: skew(-20deg);
  animation: slide-in-right .9s ease backwards;
}

.links-container li.left a {
  transform: skew(-20deg);
  display: block;
}

.links-container li.left {
  transform: skew(20deg);
  animation: slide-in-left .9s ease backwards;
}

.links-container a:link,
.links-container a:visited {
  text-decoration: none;
  font-size: 2.2rem;
  text-align: center;
  color: var(--bodycolor);
  transition: all .2s;
}

.links-container a:active {
  color: var(--white);
}

.user-info h2 {
    font-family: 'Fredoka one', sans-serif;
    color: var(--shadow);
    letter-spacing: .1rem;
}

.user-info-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 0 2rem 0;
}