:root{
  --outline: #392913;
  --bodycolor:#AA9A88;
  --facehighlight: #E1D2C4;
  --shadow: #7A6F63;
  --white: #FFFFFF;
  --water: #9ADED6;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body{
  height: 100vh;
  background: var(--water);
  display: grid;
  place-items: center;
}

.ripple{
  position: absolute;
  width:150px;
  height: 150px;
  border: solid 5px rgba(255, 255, 255, .3);
  background: rgba(255, 255, 255, .3);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, .3);
  border-radius: 50%;
  left: 2px;
  top: 30px;
  animation: ripple 4s linear infinite;
}


.container{
  width: 160px;
  height:250px;
  position: relative;
  animation: circular 20s linear infinite;
}

.head{
  position: absolute;
  left: 9px;
  width: 130px;
  height: 120px;
  border: var(--outline) solid 6px;
  border-radius: 45%;
  background: var(--bodycolor);
  z-index: 3;
  overflow: hidden;
}

.lightcircle{
  width: 160px;
  height: 120px;
  background: var(--facehighlight);
  border-radius: 100%;
  position: relative;
  top: 75px;
  left: -15px;

}

.body{
  position: absolute;
  left: 25px;
  top: 70px;
  width: 100px;
  height: 130px;
  border: var(--outline) solid 6px;
  border-radius: 45%;
  background: var(--bodycolor);
  z-index: 2;
}

.tail{
  position: absolute;
  left: 65px;
  top: 170px;
  width: 25px;
  height: 70px;
  border: var(--outline) solid 6px;
  border-radius: 50%;
  background: var(--bodycolor);
  z-index: 1;
  animation: paddle 3s ease infinite;
}

.earLeft, .earRight{
  width: 25px;
  height: 25px;
  border: var(--outline) solid 6px;
  background: var(--bodycolor);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

.earLeft{
  top: 15px;
}

.earRight{
  transform: translateX(123px);
  top: 15px;
}

.earlineLeft, .earlineRight{
  width: 1px;
  height: 10px;
  border: solid 1px var(--outline);
  border-radius: 50%;
  background: var(--outline);
  transform: rotate(-45deg);
  position:absolute;
}

.earlineLeft{
  left: 9px;
  top: 5px;
}

.earlineRight{
  transform: rotate(45deg);
  left: 12px;
  top: 5px;
}

.face{
  width: 80px;
  height: 40px;
  position: absolute;
  left: 25px;
  top: 65px;
}

.eyeLeft, .eyeRight{
  height: 25px;
  width: 13px;
  background: var(--outline);
  border-radius: 50%;
  position: absolute;
  animation: blinking 6s linear infinite;
}

.eyedot{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  left:4px;
  top: 13px;
  animation: blinking 6s ease-in-out infinite;
}

.eyeRight{
  right: 0;

}

.nose{
  width: 25px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 30px;
  background: var(--outline);
  border-radius: 40px 40px 20px 20px;
}

.nosedot{
  background: var(--white);
  width: 10px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 6px;
}

.smile{
  width: 25px;
  height: 13px;
  position: absolute;
  top: 25px;
  left: 31px;
}

.curve1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 0 0 var(--outline);
  position: absolute;
  top:-10px;
  left: -10px;
}

.curve2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: -2px 2px 0 0 var(--outline);
  position: absolute;
  top:-10px;
  left: -9px;
  transform: translateX(20px);
}

.armLeft, .armRight{
  position: absolute;
  width: 15px;
  height: 25px;
  border-top: solid 6px transparent;
  border-left: solid 6px var(--outline);
  border-right: solid 6px var(--outline);
  border-bottom: solid 6px var(--outline);
  border-radius: 40%;

}

.armLeft{
  left:10px;
  top: 50px;
  transform: rotate(-45deg);
  box-shadow: 0 3px var(--shadow);
}

.armRight{
  left:65px;
  top: 50px;
  transform: rotate(45deg);
  box-shadow: 0 3px var(--shadow);
}

.legLeft, .legRight{
  position: absolute;
  width: 20px;
  height: 35px;
  background: var(--shadow);
  border-top: solid 6px var(--outline);
  border-left: solid 6px var(--outline);
  border-right: solid 6px var(--outline);
  border-radius: 50%;

}

.legLeft{
  top: 89px;
  left: 15px;
  transform: rotate(-15deg);
}

.legRight{
  top: 89px;
  left: 55px;
  transform: rotate(15deg);
}

@keyframes blinking {
  0% {transform: scaleX(1) scaleY(1);}
  20% {transform: scaleX(1) scaleY(1);}
  25% {transform: scaleX(1) scaleY(1);}
  30% {transform: scaleX(1) scaleY(1);}
  35% {transform: scaleX(1) scaleY(1);}
  40% {transform: scaleX(1) scaleY(1);}
  45% {transform: scaleX(1) scaleY(1);}
  48% {transform: scaleX(1) scaleY(1);}
  50%{transform: scaleX(1.3) scaleY(.1);}
  55% {transform: scaleX(1) scaleY(1);}
  60% {transform: scaleX(1) scaleY(1);}
  65% {transform: scaleX(1) scaleY(1);}
  70% {transform: scaleX(1) scaleY(1);}
  75% {transform: scaleX(1) scaleY(1);}
  80% {transform: scaleX(1) scaleY(1);}
  85% {transform: scaleX(1) scaleY(1);}
  90% {transform: scaleX(1) scaleY(1);}
  95% {transform: scaleX(1) scaleY(1);}
  100% {transform: scaleX(1) scaleY(1);}
}

@keyframes paddle {
  0%{transform: rotate(30deg);}
  50%{transform: rotate(-30deg);}
  100%{transform: rotate(30deg);}
}

@keyframes circular {
  0% {transform: rotate(360deg) translateX(100px);}
  100% {transform: rotate(0deg) translateX(100px);}
}

@keyframes ripple {
  0% {opacity:0; transform: scale(0) ;}
  25% {opacity:.5; transform: scale(.5);}
  50% {opacity:1; transform: scale(1) ;}
  100% {opacity:0; transform: scale(1.5);}
}
